*{
    box-sizing: border-box;
    
}
.App {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}
h3{
    padding: 1em;
    border-bottom: dashed 1px black;
    font-weight: 100;
}

p {
    font-family: 'Aldrich', sans-serif;
}

.container{
    border: 2px solid black;
}

.container:hover{
    background: black;
    color: white;
}

a{
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
}
.section-header {
    font-family: 'Permanent Marker', cursive;   
}

.nav-links {
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
  
  }

.link-wrapper {
    display: inline;

}
.link{
    text-decoration: none;
    color: black;
    font-family: 'Permanent Marker', cursive;
}

.link:hover{
    font-style: bold;
    color:#008BF8;
    text-decoration: none;
  }