.projects-container{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.project-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid black 1px;
    margin: 1em;
}
.preview {
    width: 60%;
    height: 60%;
}
.image{
    width: 80%;
    heigth: 80%;

}
.project-description{
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;   
}
.preview:hover{
    width: 70%;
    height: 70%; 
}
.credit{
    font-size: 10px;
    text-align: start;
}
.bold{
    font-weight: bold;
    font-size: 21px;
}
